* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.logout-btn {
  font-family: Hack, monospace;
  background: #d3d3d3;
  color: #2c2c2c;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 20px;
  border: 0;
  transition: all 0.2s;
  border-radius: 10px;

  &:hover {
    background: #121268;
    transition: all 0.2s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #0000ff61;
    color: #ffffff;
    &::after {
      opacity: 1;
      transition: all 0.2s;
      color: #ffffff;
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 50px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1920px;
  margin: 0 10%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  align-items: center;
}

#textarea {
  resize: vertical;
  width: 400px;
  padding: 5px 10px;
  border: 0;
  border-radius: 2px;
  font-size: 1rem;
  width: 400px;
}

.submit {
  padding: 15px 20px;
  font-size: 1rem;
}

.form input {
  padding: 10px;
  border: 0;
  border-radius: 2px;
  font-size: 1rem;
  width: 400px;
}

.card-container {
  max-width: 320px;
  color: white;
  background-color: #1a1b21;
  border-radius: 10px 10px 0 0;
  margin: auto;

  img {
    width: 100%;
    height: 250px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
  }

  h1 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
  }
  h4 {
    color: #f3bf99;
    font-weight: 200;
    text-align: center;
  }

  a {
    font-size: 14px;
    text-align: center;
    font-weight: 200;
    display: flex;
    justify-content: center;
    color: #ffffff;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }

  button {
    padding: 5px 15px;
    border: 0;
    border-radius: 2px;
  }

  .email {
    background-color: white;
    font-size: 14px;
    color: #374151;
  }

  .linkedin {
    background-color: #5093e2;
    color: white;
  }

  .info {
    padding: 0 20px;
  }

  .info h2 {
    margin-top: 15px;
    font-weight: 600;
    font-size: 19px;
  }

  .info p {
    font-size: 12px;
    font-weight: 200;
  }

  footer {
    display: flex;
    justify-content: space-around;
    background-color: #161619;
    padding: 20px 40px;
    margin-top: 24px;
  }
  footer img {
    height: 25px;
    width: 25px;
    border-radius: 20px;
  }
}
